# First Data Science Project
## Analyzing Data - Prison Helicopter Escapes

The goal of this project is to use the wikipedia dataset to answer the following questions:
    - In which year did the most helicopter prison break attempts occur?
    - In which countries do the most attempted helicopter prison escapes occur?

Begin by importing helper functions. Let's answer the first question for now.

In [2]:
from helper import *

ModuleNotFoundError: No module named 'theano'

## Get the Data

The data used for this project is from wikipedia's list of helicopter prison escapes, https://en.wikipedia.org/wiki/List_of_helicopter_prison_escapes

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_helicopter_prison_escapes"
data = data_from_url(url)

Lets inspect the first couple rows of data

In [ ]:
for row in data[:3]:
    print(row)

Notice how the last column contains unnecessary information, so now we will remove it.

To begin, lets initialize an index variable with a value of 0, to help us track which row is being modified.

In [ ]:
index = 0
for row in data:
    data[index] = row[:-1]
    index += 1

## Extracting the Year

To answer our questions, we need to extract the year.

In the code cell below, with date = fetch_year(row[0]), we're extracting the year out of the date in "row[0]" and assiging it to the variable date. We then replace the value of row[0] with the year that we just extracted.

In [ ]:
for row in data:
    date = fetch_year(row[0])
    row[0] = date

## Attempts per Year

In [ ]:
min_year = min(data, key=lambda x: x[0])[0]
max_year = max(data, key=lambda x: x[0])[0]
print(min_year)
print(max_year)

Now that we know what the list of years is from ranging from min_year to max_year, we can add them to a list of years. Note that the dataset only lists years when prison breaks occured, so the dataset can be used in our analysis

In [ ]:
years = []
for year in range(min_year, max_year + 1):
    years.append(year)

Now we create a list where each element looks like [year, 0]

In [ ]:
attempts_per_year = []
for year in years:
    attempts_per_year.append([year, 0])

Now we increment the second entry by 1 each time a year appears in the data.

In [ ]:
for row in data:
    for year_attempt in attempts_per_year:
        year = year_attempt[0]
        if row[0] == year:
            year_attempt[1] += 1
            
print(attempts_per_year)

Now we create a bar graph of the year frequencies to see in which years most helicopter prison break attempts occured.

In [ ]:
%matplotlib inline
barplot(attempts_per_year)

Therefore, the years in which the most helicopter prison break attempts occurred were 1986, 2001, 2007 and 2009, with a total of three attempts each.

Attempts by Country

Below, we group the dataset by the column 'Country' and use a method from the helper function to create a frequency table to see which countries had the most occurences of helicopter breaks.

In [ ]:
countries_frequency = df.groupby("Country").value_counts()
print_pretty_table(countries_frequency)

So, the country with the most helicopter prison escape attempts is France.